<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    p {
        display: inline;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <section class="page-section portfolio" id="portfolio" style="height: 700px;">
        <div class="container">
            <form action="/match/attend" method="post" id="form">
                <input type="hidden" name="loginId" th:value="${#authentication.name}">
                <input type="hidden" name="id" th:value="${matchOne.getId()}">

                <table class="table">
                    <tr>
                        <td>
                            <b>인원수&nbsp;:&nbsp;</b>
                            <p th:text="${matchOne.getMembers().size()}+'/'+${matchOne.getLimitedPeople()}"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>장소&nbsp;:&nbsp;</b>
                            <p th:text="${matchOne.getMatchAddress()}">></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>시간&nbsp;:&nbsp;</b>
                            <p th:text="${matchOne.getMatchTime()}"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>공지사항&nbsp;:&nbsp;</b>
                            <p th:text="${matchOne.getNotice()}"></p>
                        </td>
                    </tr>
                </table>
            </form>
            <button th:if="${attendedId}" type="button" class="btn btn-primary" style="display: none;">이미가입</button>
            <button th:unless="${attendedId}" type="button" class="btn btn-primary" onclick="checkMatch();">신청하기
            </button>
            <button type="button" class="btn btn-primary" onclick="location.href='/match/list'">목록</button>
            <form th:action="@{'/match/'+${matchOne.getId()}}" id="updateFrm" method="get" style="display: inline;">
                <input type="hidden" name="_method" value="get">
                <button th:if="${#authentication.name.equals(createdBy)}" type="button" class="btn btn-primary"
                        onclick="updateMatch();">수정
                </button>
            </form>
            <form th:action="@{'/match/'+${matchOne.getId()}}" id="deleteFrm" method="post" style="display: inline;">
                <input type="hidden" name="_method" value="delete">
                <button th:if="${#authentication.name.equals(createdBy)}" type="button" class="btn btn-primary"
                        onclick="deleteMatch();">삭제
                </button>
            </form>
        </div>
    </section>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function () {
        const message = [[${message}]];
        if (message != null) {
            alert(message);
        }
    }

    function updateMatch() {
        document.getElementById('updateFrm').submit();
    }

    function deleteMatch() {
        if (confirm("매칭을 삭제하시겠습니까??")) {
            document.getElementById('deleteFrm').submit();
        } else {
            return false;
        }
    }

    function checkMatch() {
        if (confirm("매칭에 참여하시겠습니까?? (기존에 가입된 매칭이 있는 경우 자동 탈퇴됩니다.)")) {
            document.getElementById('form').submit();
        } else {
            return false;
        }
    }

    /*]]>*/

</script>
<div th:replace="fragments/footer :: footer"/>
