<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    p {
        display: inline;
    }
    #infoUl li {float: left;width: 40%;list-style: none;margin-left: 20px;}
    #infoUl li img {width: 20px;}
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <section class="page-section portfolio" id="portfolio" style="height: 700px;">
        <div class="container" style="height:700px;overflow: auto;">
            <div id="map" style="width:100%;height:400px;position:relative;overflow:hidden;"></div>
            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d62f3451029bf4fb668ec6fbfb50ce37&libraries=services"></script>
            <div style="display: inline-block;width: 60%;padding: 30px 20px;">
                <form action="/match/attend" method="post" id="form">
                    <input type="hidden" name="loginId" th:value="${#authentication.name}">
                    <input type="hidden" name="id" th:value="${matchOne.getId()}">

                    <div>
                        <h4>경기 정보</h4>
                    </div>
                    <div>
                        <ul id="infoUl">
                            <li id="parking">
                                <img src="/img/parking.png">
                                <p>주차 공간</p>
                            </li>
                            <li id="shoes">
                                <img src="/img/shoes.png">
                                <p>풋살화 대여</p>
                            </li>
                            <li id="shower">
                                <img src="/img/shower.png">
                                <p>샤워시설</p>
                            </li>
                            <li id="sportWear">
                                <img src="/img/cloth.PNG">
                                <p>운동복 대여</p>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div style="display: inline-block;float: right;width: 40%;padding: 30px 20px;">
                <div style="margin-bottom: 10px;">
                    <b th:text="${matchOne.getMatchTime()}"></b>
                </div>
                <div style="margin-bottom: 10px;">
                    <p th:text="${matchOne.getGround().getAddress()}"></p>
                </div>
                <div style="margin-bottom: 10px;">
                    <p th:text="${matchOne.getGround().getGroundName()}"></p>
                    <a th:if="${matchOne.getGround().getPlaceUrl()}" th:href="${matchOne.getGround().getPlaceUrl()}" target="_blank" th:text="'('+${matchOne.getGround().getPlaceUrl()}"></a>
                    <p th:if="${matchOne.getGround().getPlaceUrl()}" th:text="')'"></p>
                </div>
                <div>

                    <button th:if="(${matchOne.getMembers().size()} / ${matchOne.getLimitedPeople()}) >= 0.8"
                            type="button" class="btn btn-danger" onclick="checkMatch()">마감임박!!
                    </button>
                    <button th:if="(${matchOne.getMembers().size()} / ${matchOne.getLimitedPeople()}) < 0.8"
                            type="button" class="btn btn-primary" onclick="checkMatch()">신청하기
                    </button>

                    <button th:if="${matchOne.getMembers().size()} == ${matchOne.getLimitedPeople()}" style="opacity: 50%;"
                            type="button" class="btn btn-primary" disabled>마감</button>
                    <button type="button" class="btn btn-primary" onclick="location.href='/match/list'">목록</button>
                    <form th:action="@{'/match/'+${matchOne.getId()}}" id="updateFrm" method="get" style="display: inline;">
                        <input type="hidden" name="_method" value="get">
                        <button th:if="${#authentication.name.equals(createdBy)}" type="button" class="btn btn-primary"
                                onclick="updateMatch();">수정
                        </button>
                    </form>
                    <form th:action="@{'/match/'+${matchOne.getId()}}" id="deleteFrm" method="post" style="display: inline;">
                        <input type="hidden" name="_method" value="delete">
                        <button th:if="${#authentication.name.equals(createdBy)}" type="button" class="btn btn-primary"
                                onclick="deleteMatch();">삭제
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </section>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function () {
        const message = [[${message}]];
        if (message != null) {
            alert(message);
        }

        var parking = [[${matchOne.getGround().getParkingYn()}]];
        var shoes = [[${matchOne.getGround().getShoesYn()}]];
        var shower = [[${matchOne.getGround().getShowerYn()}]];
        var sportWear = [[${matchOne.getGround().getSportsWearYn()}]];
        if(parking == 'N') {
            document.getElementById('parking').style.textDecoration = "line-through";
            document.getElementById('parking').style.opacity = "50%";
        }
        if(shoes == 'N') {
            document.getElementById('shoes').style.textDecoration = "line-through";
            document.getElementById('shoes').style.opacity = "50%";
        }
        if(shower == 'N') {
            document.getElementById('shower').style.textDecoration = "line-through";
            document.getElementById('shower').style.opacity = "50%";
        }
        if(sportWear == 'N') {
            document.getElementById('sportWear').style.textDecoration = "line-through";
            document.getElementById('sportWear').style.opacity = "50%";
        }
    }

    function updateMatch() {
        document.getElementById('updateFrm').submit();
    }

    function deleteMatch() {
        if (confirm("매칭을 삭제하시겠습니까??")) {
            document.getElementById('deleteFrm').submit();
        } else {
            return false;
        }
    }

    function checkMatch() {
        if (confirm("매칭에 참여하시겠습니까?? (기존에 가입된 매칭이 있는 경우 자동 탈퇴됩니다.)")) {
            document.getElementById('form').submit();
        } else {
            return false;
        }
    }

    const x = [[${matchOne.getGround().getX()}]];
    const y = [[${matchOne.getGround().getY()}]];
    const groundName = [[${matchOne.getGround().getGroundName()}]];

    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(y, x),
        level: 3
    };

    var map = new kakao.maps.Map(container, options);

    //126.964741503485
    //37.5297718014452
    var markerPosition  = new kakao.maps.LatLng(y, x);

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);

    var iwContent = '<div style="padding:5px;">'+groundName+'</div>'; // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다

        // 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({
        content : iwContent
    });

    // 마커에 마우스오버 이벤트를 등록합니다
    kakao.maps.event.addListener(marker, 'mouseover', function() {
        // 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
        infowindow.open(map, marker);
    });

    // 마커에 마우스아웃 이벤트를 등록합니다
    kakao.maps.event.addListener(marker, 'mouseout', function() {
        // 마커에 마우스아웃 이벤트가 발생하면 인포윈도우를 제거합니다
        infowindow.close();
    });

    /*]]>*/

</script>

<div th:replace="fragments/footer :: footer"/>
