<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    ul li {
        display: inline;
    }

    .active {
        background-color: #6c757d;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-12" style="margin-bottom: 10px;">
                    <h1 style="display: inline">매칭 리스트</h1>
                    <span><a th:href="@{/match/createMatchForm}" style="float:right;">매칭만들기</a></span>
                </div>

                    <div style="display: inline-block;">

                        <ul class="nav">
                            <li th:each="date, stat : ${dateArr}" class="nav-item">
                                <a th:id="${#temporals.format(date, 'yyyy-MM-dd')}" class="btn btn-sm btn-outline-secondary" style="margin-right: 5px;"
                                   th:href="@{/match/list(dateKey=${#temporals.format(date, 'yyyy-MM-dd')})}">
                                    [[${#temporals.format(date, 'dd')}]]<br>[[${#temporals.dayOfWeekName(date)}]]
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-3" style="display: inline-block;width: 400px;margin: 10px 0px 10px 0px;">
                        <form action="/match/list" method="get" id="form" style="display: flex">
                            <input type="hidden" id="dateKey" name="dateKey" value="">
                            <input type="text" class="form-control" name="keyWord" style="margin-right: 10px;" placeholder="지역명 검색 ex) 서울, 경기, 의정부, 별내 ..." th:value="${keyWord}">
                            <input type="submit" value="검색">
                        </form>
                     </div>


                    <br>
                    <div th:if="${matchList}">
                        <form action="/match/attend" method="post" id="form2">
                            <input type="hidden" name="loginId" th:value="${#authentication.name}">
                            <input type="hidden" id="id" name="id" value="">
                        <ul class="list-group" th:each="match : ${matchList}">
                            <li class="list-group-item" style="margin-bottom: 5px;">
                            <span>
                                <b th:text="${match.getMatchTime()}"></b>
                            </span>
                                <a th:text="${match.getGround().getAddress()}+' ('+${match.getGround().getGroundName()}+')'"
                                   th:href="@{/match/detail(id=${match.getId()}, loginId=${#authentication.name})}"></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span th:text="${match.getMembers().size()}+'/'+${match.getLimitedPeople()}"></span>

                                <button th:if="(${match.getMembers().size()} / ${match.getLimitedPeople()}) >= 0.8"
                                        style="float: right;"
                                        type="button" class="btn btn-danger" th:id="${match.getId()}" th:onclick="checkMatch(this.getAttribute('id'))">마감임박!!
                                </button>
                                <button th:if="(${match.getMembers().size()} / ${match.getLimitedPeople()}) < 0.8"
                                        style="float: right;"
                                        type="button" class="btn btn-primary" th:id="${match.getId()}" th:onclick="checkMatch(this.getAttribute('id'))">신청하기
                                </button>

                                <button th:if="${match.getMembers().size()} == ${match.getLimitedPeople()}" style="float: right;opacity: 50%;"
                                        type="button" class="btn btn-primary" disabled>마감</button>
                            </li>
                        </ul>
                        </form>
                    </div>
                    <div th:unless="${matchList}">
                        <p style="text-align: center;">조회결과가 없습니다.</p>
                    </div>

            </div>
        </div>
    </section>
    <nav style="text-align: center;" th:if="${matchList}">
        <ul class="pagination justify-content-center" th:with="start=${T(java.lang.Math).floor(matchList.number/10)*10 + 1}, last=(${start + 9 < matchList.totalPages ? start + 9 : matchList.totalPages})">
            <li class="page-item">
                <a class="page-link" th:href="@{/match/list(page=1)}" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>

            <li th:class="${matchList.first} ? 'disabled'">
                <a class="page-link" th:href="${matchList.first} ? '#' :@{/match/list(page=${matchList.number})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == matchList.number + 1} ? 'active'">
                <a class="page-link" th:text="${page}" th:href="@{/match/list(page=${page})}"></a>
            </li>

            <li class="page-item" th:class="${matchList.last} ? 'disabled'">
                <a class="page-link" th:href="${matchList.last} ? '#' : @{/match/list(page=${matchList.number + 2})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>

            <li class="page-item">
                <a class="page-link" th:href="@{/match/list(page=${matchList.totalPages})}" aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function () {
        const message = [[${message}]];
        const activeKey = [[${activeKey}]];
        if (message != null) {
            alert(message);
        }
        let href = window.location.href;
        let url = new URL(href);
        let searchParams = url.searchParams;
        let dateKey = searchParams.get("dateKey");
        if(dateKey == activeKey) {
            $("#"+activeKey).addClass("active");
        }
        document.getElementById('dateKey').value = dateKey;
    }

    function checkMatch(matchId) {
        if (confirm("매칭에 참여하시겠습니까?? (기존에 가입된 매칭이 있는 경우 자동 탈퇴됩니다.)")) {
            document.getElementById('id').value = matchId;
            document.getElementById('form2').submit();
        } else {
            return false;
        }
    }


    /*]]>*/
</script>
<div th:replace="fragments/footer :: footer"/>
