<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>매칭 리스트</h1>
                    <span><a th:href="@{/match/createMatchForm}" style="float:right;">매칭만들기</a></span>
                    <ul class="list-group" th:each="match : ${match}">
                        <li class="list-group-item" style="margin-bottom: 5px;">
                            <a th:text="${match.getTitle()}" th:href="@{/match/detail(id=${match.getId()}, loginId=${#authentication.name})}"></a>
                            <p th:text="${match.getMembers().size()}+'/'+${match.getLimitedPeople()}"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
    <div th:replace="fragments/footer :: footer" />
