<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    ul li {
        display: inline;
    }

    .active {
        background-color: #6c757d;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 style="display: inline">매칭 리스트</h1>
                    <span><a th:href="@{/match/createMatchForm}" style="float:right;">매칭만들기</a></span>

                    <div>

                        <ul class="nav">
                            <li th:each="date, stat : ${dateArr}" class="nav-item">
                                <a th:id="${#temporals.format(date, 'yyyy-MM-dd')}" class="btn btn-sm btn-outline-secondary" style="margin-right: 5px;"
                                   th:href="@{/match/list(dateKey=${#temporals.format(date, 'yyyy-MM-dd')})}">
                                    [[${#temporals.format(date, 'dd')}]]<br>[[${#temporals.dayOfWeekName(date)}]]
                                </a>
                            </li>
                        </ul>


                    </div>
                    <br>
                    <div th:if="${matchList}">
                        <ul class="list-group" th:each="match : ${matchList}">
                            <li class="list-group-item" style="margin-bottom: 5px;">
                            <span>
                                <b th:text="${match.getMatchTime()}"></b>
                            </span>
                                <a th:text="${match.getGround().getAddress()}"
                                   th:href="@{/match/detail(id=${match.getId()}, loginId=${#authentication.name})}"></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span th:text="${match.getMembers().size()}+'/'+${match.getLimitedPeople()}"></span>
                                <span th:if="(${match.getMembers().size()} / ${match.getLimitedPeople()}) >= 0.8" style="color: #b03e00">마감임박!!!</span>
                            </li>
                        </ul>
                    </div>
                    <div th:unless="${matchList}">
                        <p style="text-align: center;">조회결과가 없습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function () {
        const message = [[${message}]];
        const activeKey = [[${activeKey}]];
        if (message != null) {
            alert(message);
        }
        let href = window.location.href;
        let url = new URL(href);
        let searchParams = url.searchParams;
        let dateKey = searchParams.get("dateKey");
        if(dateKey == activeKey) {
            $("#"+activeKey).addClass("active");
        }
    }


    /*]]>*/
</script>
<div th:replace="fragments/footer :: footer"/>
