<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <form th:action="@{'/match/'+${matchOne.getId()}}" th:object="${matchDto}" method="post" class="form-inline">
                <input type="hidden" name="_method" value="put">
                <table class="table">
                    <tr>
                        <td>장소</td>
                        <td>
                            <input type="hidden" name="loginId" th:value="${#authentication.name}">
                            <select class="form-select">
                                <option th:each="ground : ${groundList}" th:text="${ground.getAddress()+'  ('+ground.getGroundName()+')'}"
                                        th:value="${ground.getId()}" th:selected="${ground.getId()} == ${matchOne.getGround().getId()}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>인원</td>
                        <td>
                            <input type="number" class="form-control" id="limitedPeople" name="limitedPeople" th:value="${matchOne.getLimitedPeople()}">
                        </td>
                    </tr>
                    <tr>
                        <td>시간</td>
                        <td>
                            <input type="text" class="form-control datetimepicker" name="matchTime" th:value="${matchOne.getMatchTime()}" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td>한마디</td>
                        <td>
                            <input type="text" class="form-control" id="notice" name="notice" th:value="${matchOne.getNotice()}">
                        </td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-primary">수정완료</button>
            </form>
        </div>
    </section>
</div>
</body>
<div th:replace="fragments/footer :: footer" />

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    window.onload = function(){

        $( function() {
            $( ".datetimepicker" ).datetimepicker({
                format:'Y-m-d H:i',
                lang:'ko',
                showOn: "both"
                ,buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif" //버튼 이미지 경로
                ,allowTimes:[
                    '10:00', '12:00', '14:00',
                    '16:00', '18:00', '20:00', '22:00'
                ]
            });
        } );
    }
</script>

</html>