<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <form th:action="@{'/match/'+${matchOne.getId()}}" th:object="${matchDto}" method="post" class="form-inline">
                <input type="hidden" name="_method" value="put">
                <table class="table">
                    <tr>
                        <td>장소</td>
                        <td>
                            <input type="hidden" name="loginId" th:value="${#authentication.name}">
                            <input type="text" class="form-control" name="matchAddress" th:value="${matchOne.getMatchAddress()}">
                            <img src="/assets/img/search.png" style="width: 50px;height: 50px;" id="searchAddress">
                        </td>
                    </tr>
                    <tr>
                        <td>인원</td>
                        <td>
                            <input type="number" class="form-control" id="limitedPeople" name="limitedPeople" th:value="${matchOne.getLimitedPeople()}">
                        </td>
                    </tr>
                    <tr>
                        <td>시간</td>
                        <td>
                            <input type="text" class="form-control datetimepicker" name="matchTime" th:value="${#temporals.format(matchOne.getMatchTime(), 'yyyy-MM-dd HH:mm')}" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td>한마디</td>
                        <td>
                            <input type="text" class="form-control" id="notice" name="notice" th:value="${matchOne.getNotice()}">
                        </td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-primary">수정완료</button>
            </form>
        </div>
    </section>
</div>
</body>
<div th:replace="fragments/footer :: footer" />

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    window.onload = function(){
        document.getElementById("searchAddress").addEventListener("click", function(){ //주소입력칸을 클릭하면
            //카카오 지도 발생
            new daum.Postcode({
                oncomplete: function(data) { //선택시 입력값 세팅
                    document.getElementById("matchAddress").value = data.address;

                }
            }).open();
        });

        $( function() {
            $( ".datetimepicker" ).datetimepicker({
                format:'Y-m-d H:i',
                lang:'ko',
                showOn: "both"
                ,buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif" //버튼 이미지 경로
                ,allowTimes:[
                    '10:00', '12:00', '14:00',
                    '16:00', '18:00', '20:00', '22:00'
                ]
            });
        } );
    }
</script>

</html>